.itm1{
    margin-left:30%;
}
.itm2{
    font-size: 12px;
}

.left2{
    margin-left: 80px;
}


.select{
    padding: 5px;
    padding-right: 85px;
}
select {
    background-image: url('./images/search-icon.png');
    background-size: 20px;
    background-position: 8px center;
    background-repeat: no-repeat;
    border-radius: 5px;
    border:2px solid rgb(233, 233, 233);

    padding-right: 20px; /* add some padding to make room for the icon */
  }

  select>option{
    margin-left: 20px;
  }
select{
    margin-right: 80% !important;
}
.btn-primary{
    height: 38px !important;
}
.left3{
    margin-left: -23% !important;
}
.left4{
   position: relative;
   left: 100px;
}
.buttonGroup {
    align-items: center;
    position: relative;
    left: 9%;
    width: 83%;
    overflow: hidden;
    margin-top: 1%;
}
.buttonGroup button{
    outline: none;
    border: none;
    background: none;
}
.opa1{
    opacity: 100px !important;
    position: relative;
    top: 20px;
    font-size: 0.8em;
}
.hearticon{
    position: relative;
    left: 95%;
    top: -60px;
}
.load-more{
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    border-radius: 4px;
    padding: 5px;
    font-weight: bold;
}
.top1 .top2{
    opacity: 1;
    visibility: visible;
    white-space: nowrap;
    -webkit-transition: opacity .2s,visibility .2s;
    transition: opacity .2s,visibility .2s;
}  

.top1{
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    cursor: pointer;
    color: inherit;
    color: #002f34;
    position: fixed;
    top: 8rem;
    left: 50%;
    right: unset;
    bottom: unset;
    z-index: 6;
    min-width: 15rem;
    background-color: #fff;
    border: none;
    border-radius: 5rem;
    box-shadow: 0 0.2rem 0.8rem 0 rgb(0 0 0 / 15%);
    padding: 0 1rem;
    height: 4.4rem;
    display: flex;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
}
*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}  
._245becca{
    margin-left: -40px;
}
.bg1{
    display: flex;
    background-color: #F7F8F9;
    width: 100%;
}
.bg2{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/* picture{
    background-color: #F7F8F9;
    width: 100%;
} */
.pic1{
    margin-left: 7vw;
}
.bgnew{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bgnew2{
    width: 0.2rem;
    margin: 0 auto;
    background-color: rgba(0,47,52,.2);
    height: 13.6rem;
   position: relative;
   left: -60px;
}
.mg-left{
    position: relative;
    padding: 10px;
    left: -100px;
}
.mg-left2{
    position: relative;
    padding: 10px;
    left: -20px;
}
._1075545d{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

._96d4439a{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.bb5713d0 {
    width: 12.8rem;
    height: 4rem;
}
.bb5713d02{
    width: 6.8rem;
    height: 4rem;
}
.fonsize{
    font-size: 20px;
    font-weight: bold;
}
.logo3 {
    width: 10%;
}
._17fba712 {
    position: relative;
    right: 410px;
    text-decoration: underline;
    font-weight: bold;
    
}
._17fba7122{
    position: relative;
    right: 370px;
    text-decoration: none;
    font-weight: bold;
    
}
._1075545d {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
._1b04dcc1 {
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: inherit;
    border: none;
    border-bottom: 2px solid #002f34;
}
._1b04dcc12{
    background: blue;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 1em;
    border: none;
    width: 100px;
    border-bottom: 2px solid #002f34;
}
/* .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 10px;
  }
  .grid-item {

    padding: 20px;
    font-size: 30px;
    text-align: center;
  } */
 